<!DOCTYPE html>
<head>
  {{ partial "header.html" . }}
</head>
<body class="is-flex is-flex-direction-column">
  {{ partial "navbar" .}}
  <div class="columns m-0 is-flex-grow-1">
    <div class="column is-narrow p-0">
      <aside id="page-menu" class="menu">
        <ul class="menu-list">
          {{ $current_page := .Page }}
          {{ range .Site.Home.Pages }}
            {{ partial "page_nav" (dict "page" .Page "current" $current_page) }}
          {{ end }}
        </ul>
      </aside>
    </div>
    <div class="column has-background-black-ter p-3">
      <div class="content container">
        {{ block "main" . }}Nothing Rendered{{ end }}
      </div>
    </div>
    {{ if .Fragments.Headings }}
      <div class="column is-narrow is-hidden-touch pl-0">
        {{ .TableOfContents }}
      </div>
    {{end}}
  </div>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        Hello World
      </p>
    </div>
  </footer>
</body>
</html>
