{{ $current_page := .current}}
{{ if .page.IsPage }}
  <li>{{ partial "page_nav_link" (dict "Page" .page "Current" $current_page)}}</li>
{{ else }}
  {{ range .page.Pages.GroupBy "Parent" }}
    {{ $hash := crypto.FNV32a .Key.RelPermalink }}
    <li><a class="menu-dropdown" href="{{.Key.RelPermalink}}"><label class="fa-solid fa-chevron-down" for="{{$hash}}"><input type="checkbox" id="{{$hash}}" hidden/></label>{{.Key.Title}}</a>
      <ul class="menu-list">
        {{ range .Pages }}
          {{ partial "page_nav" (dict "page" .Page "current" $current_page) }}
        {{ end }}
      </ul>
    </li>
  {{end}}
{{ end }}
