
// This feels dumb but I'm not going to think about it.
// $purple: #9977cc;
$purple: #332266;
@use "../../../../assets/bulma/sass" with (
  $menu-nested-list-margin: 0,
  $menu-list-border-left: 0,
  $link: $purple,
  $menu-item-radius:0,
  $content-heading-weight:400,
  // $navbar-item-color:$purple,
);

body {
  min-height:100vh;
}
.content {
  // p { text-indent:2em; }
  h1 {
    text-align: center;
    padding-bottom: .5em;
    border-bottom: 2px solid var(--bulma-text-weak);
    margin-bottom: .1em;
  }
  h2 {
    font-size: 1.5em;
    margin-bottom: .1em;
  }
  h3 {
    font-size: 1.25em;
    margin-bottom: .1em;
  }
}

#TableOfContents {
  @extend .menu;
  ul {
    // --bulma-menu-nested-list-padding-left:0;
    @extend .menu-list;
  }
}
.menu-list {
  .menu-dropdown {
    @extend .menu-item;
    display:flex;
    span {
      flex-grow:1;
    }
    label:has(input)::before {
      content: "\f054";
      font-size: 1em;
      width: 1.2em;
      display: block;
      margin: -0.5em -0.75em;
      margin-top:-.3em;
      margin-right: 0;
      padding: var(--bulma-menu-list-link-padding);
      padding-right: 1.25em;
      text-align: center;
    }
    label:has(input:checked)::before {
      margin-left: -1em;
      margin-right: .25em;
      content: "\f078";
    }
  }
  .menu-dropdown:has(input) + ul{
    // display: none;
    transition:max-height .2s ease-in-out;
    max-height:0;
    overflow: hidden;
  }
  .menu-dropdown:has(input:checked) + ul{
    // display: block;
    max-height:10em;
  }  
}
pre {
  padding:0!important;
  code {
    background-color:var(--bulma-scheme-main)!important;
  }
}
table {
  width: 100%;
  background-color:var(--bulma-scheme-main)!important;
}